Debe importar las 6 fuentes de datos en diferentes dataframes nombrándolos como:

- Ventas --> df_ventas

- Clientes --> df_clientes

- Productos --> df_productos

- Población --> df_pob

- PIB --> df_pib

- Renta per cápita --> df_rpca --> df_rpc

In [47]:
import pandas as pd
import numpy as np
import requests
import io

In [61]:
def GetTablesInUrl(url):
    try:
        url = url
        r = requests.get(url)
        return pd.read_html(io.StringIO(str(r.text)))
    except ValueError as ex:
        print(f"No se han encontrado tablas:\n {ex}")
        return None

df_lista_pob = GetTablesInUrl("https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_y_territorios_dependientes_por_poblaci%C3%B3n")
df_lista_pib = GetTablesInUrl("https://www.worldometers.info/gdp/gdp-by-country/")
df_lista_rpc = GetTablesInUrl("https://en.wikipedia.org/wiki/List_of_countries_by_average_wage")

In [103]:
df_ventas = pd.read_excel(r"E:\Curso Data Science con Python-Pandas_Numpy\Python-Numpy-y-Pandas\Datasets+Data+Science+con+Python+-+Pandas\CASO PRÁCTICO 1\Ventas.xlsx", sheet_name = 'Sheet1')
df_clientes = pd.read_excel(r"E:\Curso Data Science con Python-Pandas_Numpy\Python-Numpy-y-Pandas\Datasets+Data+Science+con+Python+-+Pandas\CASO PRÁCTICO 1\Clientes.xlsx", sheet_name = 'Sheet1')
df_productos = pd.read_excel(r"E:\Curso Data Science con Python-Pandas_Numpy\Python-Numpy-y-Pandas\Datasets+Data+Science+con+Python+-+Pandas\CASO PRÁCTICO 1\Productos.xlsx", sheet_name = 'Sheet1')

df_pob = df_lista_pob[0]
df_pib = df_lista_pib[0]
df_rpc = df_lista_rpc[0]

In [93]:
df_ventas

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,"261,96",2
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,"731,94",3
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,"14,62",2
3,US-2015-108966,2019-10-11,NaT,Standard Class,SO-20335,FUR-TA-10000577,"957,5775",5
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,"22,368",2
...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2018-01-21,2018-01-23 00:00:00,Second Class,TB-21400,FUR-FU-10001889,"25,248",3
9990,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,FUR-FU-10000747,"91,96",2
9991,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,TEC-PH-10003645,"258,576",2
9992,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,OFF-PA-10004041,"29,6",4
9993,CA-2017-119914,2021-05-04,2021-05-09 00:00:00,Second Class,CC-12220,OFF-AP-10002684,"243,16",2

<h1>PREGUNTA 1</h1>
<p>¿Cuáles son las dimensiones (registros x columnas) de cada dataframe?</p>

In [51]:
print(f"- El dataframe de ventas tiene {df_ventas.shape[0]} filas y {df_ventas.shape[1]} columnas")
print(f"- El dataframe de clientes tiene {df_clientes.shape[0]} filas y {df_clientes.shape[1]} columnas")
print(f"- El dataframe de productos tiene {df_productos.shape[0]} filas y {df_productos.shape[1]} columnas")
print(f"- El dataframe de población tiene {df_pob.shape[0]} filas y {df_pob.shape[1]} columnas")
print(f"- El dataframe del PIB tiene {df_pib.shape[0]} filas y {df_pib.shape[1]} columnas")
print(f"- El dataframe de la renta per capita tiene {df_rpc.shape[0]} filas y {df_rpc.shape[1]} columnas")

- El dataframe de ventas tiene 9994 filas y 8 columnas
- El dataframe de clientes tiene 793 filas y 8 columnas
- El dataframe de productos tiene 1864 filas y 5 columnas
- El dataframe de población tiene 246 filas y 12 columnas
- El dataframe del PIB tiene 177 filas y 8 columnas
- El dataframe de la renta per capita tiene 38 filas y 5 columnas

<h1>PREGUNTA 2</h1>
<p>¿Existen valores NaN en nuestras fuentes?</p>

In [52]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID Cliente      793 non-null    object
 1   Nombre cliente  793 non-null    object
 2   Segmento        793 non-null    object
 3   País            793 non-null    object
 4   Ciudad          338 non-null    object
 5   Estado          338 non-null    object
 6   Código Postal   338 non-null    float64
 7   Región          338 non-null    object
dtypes: float64(1), object(7)
memory usage: 49.7+ KB

In [104]:
def RemoveNANRows(dataframe, name):
    original_rows = dataframe.shape[0]
    dataframe.dropna(inplace=True)
    wrong_rows = original_rows-dataframe.shape[0]
    print(f"- En el dataframe de {name} hay {wrong_rows} filas erroneas")

RemoveNANRows(df_ventas, "ventas")
RemoveNANRows(df_clientes, "clientas")
RemoveNANRows(df_productos, "productos")
RemoveNANRows(df_pob, "población")
RemoveNANRows(df_pib, "PIB")
RemoveNANRows(df_rpc, "renta per capita")

- En el dataframe de ventas hay 9 filas erroneas
- En el dataframe de clientas hay 455 filas erroneas
- En el dataframe de productos hay 2 filas erroneas
- En el dataframe de población hay 0 filas erroneas
- En el dataframe de PIB hay 0 filas erroneas
- En el dataframe de renta per capita hay 0 filas erroneas

<h1>PREGUNTA 3</h1>
<p>Realice la limpieza en base a la suposición anterior.
(Ayuda: Puede aplicar el método isnull() sobre la columna de interés para filtrar
la información y verificar si hay registros vacíos, para eliminarlos puede aplicar 
el método notnull() para quedarse con los registros no vacíos).
: ¿Cuántos registros se han eliminado de df_ventas?</p>

In [63]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID Pedido        9994 non-null   object
 1   Fecha compra     9991 non-null   datetime64[ns]
 2   Fecha envío      9988 non-null   datetime64[ns]
 3   Modo envío       9994 non-null   object
 4   ID Cliente       9994 non-null   object
 5   ID Producto      9994 non-null   object
 6   Precio unitario  9994 non-null   object
 7   Cantidad         9994 non-null   int64
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 624.8+ KB

In [79]:
def CountNANRows(dataframe, name):
    original_rows = dataframe.shape[0]
    dataframe.dropna(inplace=True)
    deleted_rows = original_rows-dataframe.shape[0]
    print(f"- En el dataframe de {name} se han eliminado {deleted_rows} filas")
CountNANRows(df_ventas, "ventas")

- En el dataframe de ventas se han eliminado 9 filas

<h1>PREGUNTA 4</h1>
<p>¿Existen registros duplicados en nuestros datos? Si es así limpie la información de esta información redundante.</p>

In [105]:
# dup_counts = df_ventas.pivot_table(index=df_ventas.columns.tolist(), aggfunc='size')
# dup_counts

def RemoveDuplicatedRows(dataframe, name):
    original_rows = dataframe.shape[0]
    df_ventas.drop_duplicates(inplace=True)
    df_ventas.shape
    filas_sin_duplicar = dataframe.shape[0]
    duplicated_rows = original_rows-dataframe.shape[0]
    duplicated_rows
    print(f"En el dataframe {name} hay un número de filas totales: {original_rows}, de las cuales hay {duplicated_rows} filas duplicadas")

RemoveDuplicatedRows(df_ventas, "ventas")
RemoveDuplicatedRows(df_clientes, "clientas")
RemoveDuplicatedRows(df_productos, "productos")
RemoveDuplicatedRows(df_pob, "población")
RemoveDuplicatedRows(df_pib, "PIB")
RemoveDuplicatedRows(df_rpc, "renta per capita")

En el dataframe ventas hay un número de filas totales: 9985, de las cuales hay 1 filas duplicadas
En el dataframe clientas hay un número de filas totales: 338, de las cuales hay 0 filas duplicadas
En el dataframe productos hay un número de filas totales: 1862, de las cuales hay 0 filas duplicadas
En el dataframe población hay un número de filas totales: 245, de las cuales hay 0 filas duplicadas
En el dataframe PIB hay un número de filas totales: 177, de las cuales hay 0 filas duplicadas
En el dataframe renta per capita hay un número de filas totales: 33, de las cuales hay 0 filas duplicadas

<h1>PREGUNTA 5</h1>
<p>Varios campos de nuestros dataframes contienen datos numéricos, pero en algunos casos, 
puede que se hayan interpretado como strings debido al separador decimal “,” en lugar de “.”, 
contienen algún espacio o bien contienen el símbolo “$”.</br>
Transforme las columnas implicadas para que pueda modificar el tipo de datos de los campos que deben ser numéricos. 
¿Qué campos ha tenido que modificar?</p>

In [122]:
df_ventas["Precio unitario"].replace(',', '.', inplace=True)

In [126]:
df_ventas

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,"261,96",11111
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,"731,94",3
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,"14,62",11111
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,"22,368",11111
5,CA-2014-115812,2018-06-09,2018-06-14 00:00:00,Standard Class,BH-11710,FUR-FU-10001487,0,7
...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2018-01-21,2018-01-23 00:00:00,Second Class,TB-21400,FUR-FU-10001889,"25,248",3
9990,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,FUR-FU-10000747,"91,96",11111
9991,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,TEC-PH-10003645,"258,576",11111
9992,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,OFF-PA-10004041,"29,6",4
9993,CA-2017-119914,2021-05-04,2021-05-09 00:00:00,Second Class,CC-12220,OFF-AP-10002684,"243,16",11111