In [1]:
import pandas as pd

In [2]:
info_pais = {"pais":["Brasil", "México", "España", "Perú", "Colombia", "Venezuela"],
             "capital":["Brasilia","Ciudad de México","Madrid","Lima","Bogotá","Caracas"],
             "superficie (Mkm2)": [8.5, 1.9, 1.2, 0.5, 1.1,0.9]}

In [3]:
df_pais = pd.DataFrame(info_pais)

In [4]:
df_pais

        pais           capital  superficie (Mkm2)
0     Brasil          Brasilia                8.5
1     México  Ciudad de México                1.9
2     España            Madrid                1.2
3       Perú              Lima                0.5
4   Colombia            Bogotá                1.1
5  Venezuela           Caracas                0.9

In [5]:
df_pais["pais-capital"]=df_pais["pais"] + "-" + df_pais["capital"]

In [6]:
df_pais

        pais           capital  superficie (Mkm2)             pais-capital
0     Brasil          Brasilia                8.5          Brasil-Brasilia
1     México  Ciudad de México                1.9  México-Ciudad de México
2     España            Madrid                1.2            España-Madrid
3       Perú              Lima                0.5                Perú-Lima
4   Colombia            Bogotá                1.1          Colombia-Bogotá
5  Venezuela           Caracas                0.9        Venezuela-Caracas

In [9]:
df_pais["pais-sup"]=df_pais["pais"] + "-" + df_pais["superficie (Mkm2)"].astype(str)

In [10]:
df_pais

,pais,capital,superficie (Mkm2),pais-capital,pais-sup
0,Brasil,Brasilia,8.5,Brasil-Brasilia,Brasil-8.5
1,México,Ciudad de México,1.9,México-Ciudad de México,México-1.9
2,España,Madrid,1.2,España-Madrid,España-1.2
3,Perú,Lima,0.5,Perú-Lima,Perú-0.5
4,Colombia,Bogotá,1.1,Colombia-Bogotá,Colombia-1.1
5,Venezuela,Caracas,0.9,Venezuela-Caracas,Venezuela-0.9

In [18]:
df_pais["pais_etiqueta"]=df_pais["pais"].str[0:2]

In [19]:
df_pais

,pais,capital,superficie (Mkm2),pais-capital,pais-sup,pais_etiqueta
0,Brasil,Brasilia,8.5,Brasil-Brasilia,Brasil-8.5,Br
1,México,Ciudad de México,1.9,México-Ciudad de México,México-1.9,Mé
2,España,Madrid,1.2,España-Madrid,España-1.2,Es
3,Perú,Lima,0.5,Perú-Lima,Perú-0.5,Pe
4,Colombia,Bogotá,1.1,Colombia-Bogotá,Colombia-1.1,Co
5,Venezuela,Caracas,0.9,Venezuela-Caracas,Venezuela-0.9,Ve

In [31]:
dic_pc = {"Es":"Europa","It":"Europa","Al":"Europa","Po":"Europa","Mé":"América","Co":"América","Br":"América","Cu":"América","Ve":"América","Pe":"América","Ca":"América","Chi":"Asia","In":"Asia","Zi":"África","Co":"África","Aus":"Oceanía"}

In [32]:
dic_pc

{'Es': 'Europa',
 'It': 'Europa',
 'Al': 'Europa',
 'Po': 'Europa',
 'Mé': 'América',
 'Co': 'África',
 'Br': 'América',
 'Cu': 'América',
 'Ve': 'América',
 'Pe': 'América',
 'Ca': 'América',
 'Chi': 'Asia',
 'In': 'Asia',
 'Zi': 'África',
 'Aus': 'Oceanía'}

In [33]:
df_pais["Continente"] = df_pais["pais_etiqueta"].map(dic_pc)

In [34]:
df_pais

,pais,capital,superficie (Mkm2),pais-capital,pais-sup,pais_etiqueta,Continente
0,Brasil,Brasilia,8.5,Brasil-Brasilia,Brasil-8.5,Br,América
1,México,Ciudad de México,1.9,México-Ciudad de México,México-1.9,Mé,América
2,España,Madrid,1.2,España-Madrid,España-1.2,Es,Europa
3,Perú,Lima,0.5,Perú-Lima,Perú-0.5,Pe,América
4,Colombia,Bogotá,1.1,Colombia-Bogotá,Colombia-1.1,Co,África
5,Venezuela,Caracas,0.9,Venezuela-Caracas,Venezuela-0.9,Ve,América