In [1]:
import pandas as pd

In [2]:
info_pais = {"pais":["Brasil", "México", "España", "Perú", "Colombia", "Venezuela"],
             "capital":["Brasilia","Ciudad de México","Madrid","Lima","Bogotá","Caracas"],
             "superficie (Mkm2)": [8.5, 1.9, 1.2, 0.5, 1.1,0.9]}

In [3]:
df_pais = pd.DataFrame(info_pais)

In [4]:
df_pais

        pais           capital  superficie (Mkm2)
0     Brasil          Brasilia                8.5
1     México  Ciudad de México                1.9
2     España            Madrid                1.2
3       Perú              Lima                0.5
4   Colombia            Bogotá                1.1
5  Venezuela           Caracas                0.9

In [8]:
info_población = {"pais":["Perú", "Colombia","Brasil", "México", "España","EEUU","China"],
             "población":[32.6,50.3,211.4,127.8,47,331.8,1393]}

In [9]:
df_poblacion = pd.DataFrame(info_población)

In [10]:
df_poblacion

       pais  población
0      Perú       32.6
1  Colombia       50.3
2    Brasil      211.4
3    México      127.8
4    España       47.0
5      EEUU      331.8
6     China     1393.0

In [13]:
df_total_in = df_pais.merge(df_poblacion, on="pais", how="inner")

In [14]:
df_total_in

       pais           capital  superficie (Mkm2)  población
0    Brasil          Brasilia                8.5      211.4
1    México  Ciudad de México                1.9      127.8
2    España            Madrid                1.2       47.0
3      Perú              Lima                0.5       32.6
4  Colombia            Bogotá                1.1       50.3

In [23]:
df_total_out = df_pais.merge(df_poblacion, on="pais", how="outer")

In [17]:
df_total_out

        pais           capital  superficie (Mkm2)  población
0     Brasil          Brasilia                8.5      211.4
1     México  Ciudad de México                1.9      127.8
2     España            Madrid                1.2       47.0
3       Perú              Lima                0.5       32.6
4   Colombia            Bogotá                1.1       50.3
5  Venezuela           Caracas                0.9        NaN
6       EEUU               NaN                NaN      331.8
7      China               NaN                NaN     1393.0

# Ejercicio

In [59]:
df_peatones = pd.read_csv(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\5.18\PEATONES_2020_mod.csv',encoding = "ISO-8859-1",delimiter=';')

In [60]:
df_peatones

,FECHA,HORA,IDENTIFICADOR,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD
0,01/01/2020,0:00:00,PERM_PEA02_PM01,497.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
1,01/01/2020,0:15:00,PERM_PEA02_PM01,244.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
2,01/01/2020,0:30:00,PERM_PEA02_PM01,179.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
3,01/01/2020,0:45:00,PERM_PEA02_PM01,174.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
4,01/01/2020,1:00:00,PERM_PEA02_PM01,131.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
...,...,...,...,...,...,...,...,...,...,...,...,...
288750,30/06/2020,22:45:00,PERM_PEA19_PM01,565.0,1.0,Centro,Calle Bailén,6.0,28013.0,Acera Pares Datos en prueba,"40,417278","-3,713371"
288751,30/06/2020,23:00:00,PERM_PEA19_PM01,415.0,1.0,Centro,Calle Bailén,6.0,28013.0,Acera Pares Datos en prueba,"40,417278","-3,713371"
288752,30/06/2020,23:15:00,PERM_PEA19_PM01,551.0,1.0,Centro,Calle Bailén,6.0,28013.0,Acera Pares Datos en prueba,"40,417278","-3,713371"
288753,30/06/2020,23:30:00,PERM_PEA19_PM01,456.0,1.0,Centro,Calle Bailén,6.0,28013.0,Acera Pares Datos en prueba,"40,417278","-3,713371"
288754,30/06/2020,23:45:00,PERM_PEA19_PM01,532.0,1.0,Centro,Calle Bailén,6.0,28013.0,Acera Pares Datos en prueba,"40,417278","-3,713371"

In [61]:
df_pob = pd.read_csv(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\5.18\Distrito_poblacion.csv',encoding = "ISO-8859-1",delimiter=';')

In [62]:
df_pob

          DISTRITO  Población_Distrito
0       Arganzuela              151965
1           Centro              149718
2         Chamberí              137401
3  Moncloa-Aravaca              116903
4           Latina              233808

In [65]:
df_combinado = df_peatones.merge(df_pob, on="DISTRITO", how="inner")

In [66]:
df_combinado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284872 entries, 0 to 284871
Data columns (total 13 columns):
FECHA                      284872 non-null object
HORA                       284872 non-null object
IDENTIFICADOR              284872 non-null object
PEATONES                   284869 non-null float64
NÚMERO_DISTRITO            284872 non-null float64
DISTRITO                   284872 non-null object
NOMBRE_VIAL                284872 non-null object
NÚMERO                     284872 non-null float64
CÓDIGO_POSTAL              284872 non-null float64
OBSERVACIONES_DIRECCION    284872 non-null object
LATITUD                    284872 non-null object
LONGITUD                   284872 non-null object
Población_Distrito         284872 non-null int64
dtypes: float64(4), int64(1), object(8)
memory usage: 30.4+ MB

In [67]:
df_combinado.head()

,FECHA,HORA,IDENTIFICADOR,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD,Población_Distrito
0,01/01/2020,0:00:00,PERM_PEA02_PM01,497.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718
1,01/01/2020,0:15:00,PERM_PEA02_PM01,244.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718
2,01/01/2020,0:30:00,PERM_PEA02_PM01,179.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718
3,01/01/2020,0:45:00,PERM_PEA02_PM01,174.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718
4,01/01/2020,1:00:00,PERM_PEA02_PM01,131.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718

In [68]:
df_combinado["Peatones/Pob"]=df_combinado["PEATONES"]/df_combinado["Población_Distrito"]

In [69]:
df_combinado.head()

,FECHA,HORA,IDENTIFICADOR,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD,Población_Distrito,Peatones/Pob
0,01/01/2020,0:00:00,PERM_PEA02_PM01,497.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718,0.003320
1,01/01/2020,0:15:00,PERM_PEA02_PM01,244.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718,0.001630
2,01/01/2020,0:30:00,PERM_PEA02_PM01,179.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718,0.001196
3,01/01/2020,0:45:00,PERM_PEA02_PM01,174.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718,0.001162
4,01/01/2020,1:00:00,PERM_PEA02_PM01,131.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",149718,0.000875

In [77]:
df_combinado.groupby("DISTRITO")["Peatones/Pob"].agg("max")

DISTRITO
Arganzuela         0.026809
Centro             0.031786
Chamberí           0.008413
Latina             0.000920
Moncloa-Aravaca    0.008811
Name: Peatones/Pob, dtype: float64